---
layout: layouts/base.html
title: Canberra Shanty Club Events
---
  {% include "partials/nav.html" %}
  {% include "partials/home-hero.html" %}

<main class="text-gray-200 bg-gray-900 body-font">
  
  
  {% include "partials/eventsList.html" %}
</main>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>