{% extends "layouts/base.html" %}

{% block head %}
  <meta name="description" content="{{description}}" />
{% endblock name %}

<ul class="flex h-full m-auto flex-col bg-black ">

  <li class="block p-8 bg-gray-900  ">
    <p class="mt-3 text-xl font-bold text-white">JUL 13</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="mt-3 text-xl font-bold text-black">JUL 27</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="">AUG 10</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="">AUG 24</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="">SEP 14</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="">SEP 28</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="">OCT 12</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="">OCT 26</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="">NOV 9</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="">NOV 23</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>

  <li class="block p-8 bg-gray-900  ">
    <p class="">DEC 14</p>
    <p class="">Wednesday</p>
    <p class="">Shanty Club @ Smith's</p>
    <p class="">Smith's Alternative, Civic</p>
  </li>
</ul>
