
<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img src="/static/img/CanberraShantyClub-logo.webp" class="w-20 h-20 text-white rounded-full" />
     
      <span class="ml-3 text-3xl md:block ">Canberra Shanty Club</span>
    </a>
    <nav class="flex  flex-wrap items-center text-base md:ml-auto">
      <a class="mr-5 hover:text-white">About Us</a>
      <a class="mr-5 hover:text-white">Events</a>
      <a class="mr-5 hover:text-white">Songs</a>
      <a class="hover:text-white">Media</a>
    </nav>
  
  </div>
</header>
